body{
    text-align: center;
    transition: all 0.5s ease;
    animation: slide-in 0.5s ease forwards;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes slide-in {
    0% {
        transform: rotate(90deg) translateX(-100px);
    }

    50% {
        transform: rotate(-90deg) translateX(-100px);
    }

    100% {
        transform: rotate(0deg) translateX(0px);
    }
}