*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em 1em;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em 2em;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

#logo {
    border-radius: 50%;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header {
    padding: 0 1rem;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #ff004f;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.container {
    padding: 0 1rem;
}

#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}

.hero-img {
    max-width: 50%;
    min-width: 500px;
    flex: 1;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.hero-img img {
    width: 100%;
    height: 100%;
    min-width: 500px;
    padding: 9rem 0 0 0;
    object-fit: cover;
}

.hero-text {
    /* min-width: 50%; */
    padding: 0 0 5rem 6rem;
}

.hero-text .caption {
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 1em;
    padding: 7.55rem 0 1rem;
}

.hero-text .bio {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5em;
}

.hero-text .bio span {
    color: #ff004f;
}

@media screen and (max-width: 1400px) {
    #hero-section {
        flex-direction: column;
    }

    .hero-text {
        padding: 2rem 1rem 0rem 0rem;
    }
    .hero-img img {
        width: 575px;
        height: auto;
        min-width: 500px;
        padding: 0 0 0 0;
        object-fit: cover;
        position:fixed;
        left: auto;
        bottom : 0px;
    }
}

@media screen and (max-width: 1130px) {
    #hero-section {
        flex-direction: column;
    }

    .hero-text {
        padding: 2rem 1rem 0rem 0rem;
    }
    .hero-img img {
        width: 100%;
        height: 100%;
        min-width: 500px;
        padding: 0 0 0 0;
        object-fit: cover;
        position:fixed;
        bottom : 0px;
    }
}

@media screen and (max-width: 675px) {
    #hero-section {
        flex-direction: column;
    }

    .hero-text {
        padding: 2rem 1rem 0rem 0rem;
    }
    .hero-img img {
        width: 500px;
        height: 480.01px;
        min-width: 500px;
        padding: 0 0 0 0;
        object-fit: cover;
        position:fixed;
        bottom : 0px;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    body {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* .typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
    min-height: 50px;
    min-width: 10px;
    background-color: #fff;
}

@keyframes typedjsBlink {
    50% {
        opacity: 0;
    }
} */