*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
    height: 100vh;
    /* overflow: hidden; */
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em 1em;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em 2em;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

#logo {
    border-radius: 50%;
}

nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #ff004f;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.container {
    padding: 0 1rem;
    padding: 100px;
    min-height: 5496px;
}

.header {
    padding: 0 1rem;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}   

/* .about {
    position: fixed;
} */

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }

  #container {
    height: 500vh;
  }